/* TEMPORARY  */
.react-tabs {
  font-family: monaco, Consolas, "Lucida Console", monospace;
  height: 100%;
}
.react-tabs__tab-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  background: rgb(32, 32, 32);
  border-bottom: 1px solid rgb(45, 48, 49);
}
.react-tabs__tab {
  font-size: 12px;
  padding: 5px 10px;
  border-bottom: 2px solid transparent;
}
.react-tabs__tab--selected {
  background: rgb(27, 27, 27);
  border-bottom: 2px solid #66afe9;
}
.react-tabs__tab-panel--selected {
  overflow: auto;
  padding: 5px;
  height: calc(100% - 133px);
  user-select: text;
}
/* DATA grid */
.react-grid-Grid {
  border: 0;
  background-color: rgb(27, 27, 27) !important;
}
.react-grid-Canvas {
  background-color: rgb(27, 27, 27) !important;
}
.react-grid-Main {
  background-color: rgb(27, 27, 27) !important;
  outline: none !important;
}
.react-grid-Header {
  background: rgb(32, 32, 32) !important;
  border-color: rgb(45, 48, 49) !important;
  border-bottom: 1px solid rgb(45, 48, 49) !important;
}
.react-grid-Row:hover .react-grid-Cell,
.react-grid-Row.row-context-menu .react-grid-Cell {
  background-color: rgb(45, 48, 49) !important;
}
.react-grid-HeaderCell {
  background-color: inherit !important;
  border-right-color: rgb(45, 48, 49) !important;
  border-bottom-color: rgb(45, 48, 49) !important;
}
.react-grid-Row--even .react-grid-Cell {
  background-color: rgb(30, 30, 30) !important;
}
.react-grid-Cell {
  background-color: rgb(32, 32, 32) !important;
  border-right-color: rgb(45, 48, 49) !important;
  border-bottom: 0 !important;
}
.react-grid-Cell__value div {
  white-space: nowrap !important;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  padding: 0;
  margin: 0;
  border: 0;
  cursor: default;
  font-family: "Fira Code", "SF Mono", "Consolas", "Segoe UI", "Roboto", "-apple-system",
    "Helvetica Neue", sans-serif;
  font-size: 0.94em;
  -webkit-user-select: none;
}
th {
  font-weight: normal;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
  border: 0px;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.25) !important;
  border-radius: 4px;
}

/* leet hacks */
a.closeButton--jss-0-1 {
  display: none;
}

*:focus {
  outline: none;
}

@-webkit-keyframes fade-up {
  0% {
    -webkit-transform: translateY(5%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0%);
    opacity: 1;
  }
}

@-webkit-keyframes slide-up {
  0% {
    -webkit-transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(0px);
  }
}

@-webkit-keyframes slide-down {
  0% {
    -webkit-transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(100%);
  }
}

.tooltipTheme {
  background-color: "white";
}
.tooltipThemeReducedWidth {
  word-break: normal;
  background-color: "white";
  width: 300px;
}

/* can't hover with inline styles so doing it here.. */
.button.custom-commands-list-button:hover {
  background-color: #e73435 !important;
}
