/* TEMPORARY  */
.react-tabs {
  height: 100%;
}
.react-tabs__tab-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  background: var(--color-backgroundLighter);
  border-bottom: 1px solid var(--color-lineLighter);
  height: 28px;
}
.react-tabs__tab {
  font-size: 12px;
  padding: 5px 10px;
  border-bottom: 2px solid transparent;
}
.react-tabs__tab--selected {
  background: var(--color-backgroundDarker);
  color: var(--color-foregroundLight);
}
.react-tabs__tab-panel--selected {
  overflow: auto;
  padding: 5px;
  height: calc(100% - 133px);
  user-select: text;
}
/* DATA grid */
.react-grid-Grid {
  border: 0;
  background-color: var(--main-bg-color) !important;
  border-top: 1px solid var(--color-lineLighter) !important;
}
.react-grid-Canvas {
  background-color: var(--main-bg-color) !important;
}
.react-grid-Main {
  background-color: var(--main-bg-color) !important;
  outline: none !important;
  font-size: 13px;
}
.react-grid-Header {
  border-color: var(--color-lineLighter) !important;
  border-bottom: 1px solid var(--color-lineLighter) !important;
  background: var(--color-backgroundLighter) !important;
  box-shadow: none !important;
}
.react-grid-Row.row-context-menu .react-grid-Cell {
  background-color: var(--color-backgroundLighter) !important;
}
.react-grid-Row:hover .react-grid-Cell {
  background-color: var(--color-backgroundLighter) !important;
}
.react-grid-HeaderCell {
  font-weight: normal !important;
  padding: 4px !important;
  background-color: inherit !important;
  border-right-color: var(--color-lineLighter) !important;
  border-bottom: none !important;
}
.react-grid-Row--even .react-grid-Cell {
  background-color: var(--color-backgroundLighter) !important;
}
.react-grid-Cell {
  background-color: var(--color-background) !important;
  border-right-color: var(--color-lineLighter) !important;
  border-bottom: 0 !important;
}
.react-grid-Cell__value div {
  white-space: nowrap !important;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
}
/* Reac Grid Context Menu */
.react-contextmenu {
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  color: #373a3c;
  text-align: left;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  outline: none;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms ease !important;
}

.react-contextmenu.react-contextmenu--visible {
  opacity: 1;
  pointer-events: auto;
}

.react-contextmenu-item {
  padding: 3px 15px;
  font-weight: 400;
  line-height: 1.5;
  color: #373a3c;
  text-align: inherit;
  white-space: nowrap;
  background: 0 0;
  border: 0;
  cursor: pointer;
}
.react-contextmenu-item:hover {
  background-color: var(--color-backgroundLighter);
}

.react-contextmenu-item.react-contextmenu-item--active,
.react-contextmenu-item.react-contextmenu-item--selected {
  color: #fff;
  background-color: #20a0ff;
  border-color: #20a0ff;
  text-decoration: none;
}

.react-contextmenu-item.react-contextmenu-item--disabled,
.react-contextmenu-item.react-contextmenu-item--disabled:hover {
  color: #878a8c;
  background-color: transparent;
  border-color: rgba(0, 0, 0, 0.15);
}

.react-contextmenu-item--divider {
  margin-bottom: 3px;
  padding: 2px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  cursor: inherit;
}
.react-contextmenu-item--divider:hover {
  background-color: transparent;
  border-color: rgba(0, 0, 0, 0.15);
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  padding: 0;
  margin: 0;
  border: 0;
  cursor: default;
  /* font-family: "SF Mono", "Consolas", "Segoe UI", "Roboto", "-apple-system", "Helvetica Neue",
    sans-serif; */
  font-family: ".SFNSDisplay-Regular", "Helvetica Neue", "Lucida Grande", sans-serif;
  font-size: 12px;
  -webkit-user-select: none;
}
th {
  font-weight: normal;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
  border: 0px;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.25) !important;
  border-radius: 4px;
}

/* leet hacks */
a.closeButton--jss-0-1 {
  display: none;
}

*:focus {
  outline: none;
}

@-webkit-keyframes fade-up {
  0% {
    -webkit-transform: translateY(5%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0%);
    opacity: 1;
  }
}

@-webkit-keyframes slide-up {
  0% {
    -webkit-transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(0px);
  }
}

@-webkit-keyframes slide-down {
  0% {
    -webkit-transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(100%);
  }
}

.tooltipTheme {
  background-color: "white";
}
.tooltipThemeReducedWidth {
  word-break: normal;
  background-color: "white";
  width: 300px;
}

/* can't hover with inline styles so doing it here.. */
.button.custom-commands-list-button:hover {
  background-color: #e73435 !important;
}
